* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
  font-size: 1.5rem;
}
img {
  width: 90px;
  height: 90px;
}
.container {
  grid-template-columns: 4fr 6fr;
  grid-gap: 1rem;
  background: lightgray;
  display: grid; /* 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  align-content: flex-start; */
}
.item {
  background: rgba(255, 0, 0, 0.5);
}

.item:nth-child(odd) {
  background: rgba(255, 255, 0, 0.5);
}
